<div class="d-flex">
  <!-- Sidebar -->
    <div class="bg-dark border-right p-3 text-light" id="sidebar">
      <h3>Gifs App</h3>
      <hr/>
      <div class="list-group list-reset">
        <a href="#"
          class="list-group-item list-group-item-action bg-dark text-light"
        >
          Dashboard
        </a>
      </div>
    </div>

    <div class="container">
      <div class="row p-3">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs..."/>
      </div>
      <hr/>
    </div>
    <div></div>
</div>